<form [formGroup]="productForm" (ngSubmit)="productForm.valid && onAddProduct()" novalidate>
<div class="example-container">
  <div class="list-header-title"><h2>Add Product</h2></div>
  
  <mat-form-field>
    <input id="title" matInput formControlName="title" [(ngModel)]="product.title" placeholder="Enter product name">
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Select category" formControlName="category" [(ngModel)]="product.category">
      <!--mat-option value="">Option</mat-option-->
      <mat-option *ngFor="let ctg of categoryArr" value="{{ctg.id}}">{{ctg.value}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <textarea matInput formControlName="description" [(ngModel)]="product.description" placeholder="Enter product description"></textarea>
  </mat-form-field>
  
  <mat-form-field>
    <input id="price" matInput formControlName="price" [(ngModel)]="product.price" type="number" placeholder="Enter product price">
  </mat-form-field>
  <!--mat-form-field>
    <input id="file"  matInput formControlName="image" [(ngModel)]="product.image"  type="file" (change)="handleFileInput($event.target.files)">
  </mat-form-field-->
    <!--p>Select Event: {{fileSelectMsg}}</p>
<p>Upload Event: {{fileUploadMsg}}</p-->
  <td-file-upload #fileUpload formControlName="image" [(ngModel)]="product.image" defaultColor="accent" activeColor="warn" 
  cancelColor="primary" (select)="selectEvent($event)" (upload)="uploadEvent($event)" (cancel)="cancelEvent()" 
  accept=".jpg,.jpeg,.gif,.png" [disabled]="disabled">
  <mat-icon>file_upload</mat-icon><span>{{ files?.name }}</span>
  <ng-template td-file-input-label>
    <mat-icon>attach_file</mat-icon>
    <span>
      Choose product image...
    </span>
  </ng-template>
  
</td-file-upload>
<span>{{fileSelectMsg}}</span>
<button mat-button type="submit" class="mat-raised-button mat-accent" [disabled]="!productForm.valid" style="width:50px;">Add</button>
</div>
  </form>