<h1>My Cart</h1>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef> No. </th>
    <td mat-cell *matCellDef="let element"> {{element.position}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="product_name">
    <th mat-header-cell *matHeaderCellDef> Product Name </th>
    <td mat-cell *matCellDef="let element"> {{element.product_name}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef> Price </th>
    <td mat-cell *matCellDef="let element">Rs. {{element.price}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="image">
    <th mat-header-cell *matHeaderCellDef> Image </th>
    <td mat-cell *matCellDef="let element">
    <img height="80px;" mat-card-image src="{{url}}/img/products/{{element.image}}" height="auto">
    </td>
    
    
  </ng-container>

  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef> Actions </th>
    <td mat-cell *matCellDef="let element">
         <button md-raised-button (click)="delCartProdDialog(element.id)" >Delete</button> 
    </td>
</ng-container> 

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<div>&nbsp;</div>
<button [disabled]="!proceedToCheckout" mat-button class="mat-raised-button mat-primary" (click)="checkout()">Proceed to checkout</button>

